@import './utils/fonts';
@import './utils/variables';
@import './base';
@import './utils/utils.scss';

@import './components/buttons';
@import './components/links';
@import './layout/section';

@import './layout/header';
@import './layout/hero-section';
@import './layout/advantages-section';
@import './layout/traditions-section';
@import './layout/chefs-section';
@import './layout/formats-section';
@import './components/carousel';
@import './layout/contacts-section';
@import './layout/footer';
@import './layout/modal';
@import './layout/forms';

