:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-brand-dark: #465929;
  --color-brand-light: #819b57;
  --color-secondary-dark: #a18268;
  --color-secondary-light: #cfcfbc;
}
