.contact-section {
  padding-bottom: 96px;

  &__container {
    display: flex;
    gap: 32px;

    flex-direction: column; // На мобілці: форма зверху, карта знизу
    gap: 24px;

    @media screen and (min-width: 1200px) {
      flex-direction: row; // На десктопі: стають поруч
      align-items: stretch; // Вирівнюються за висотою
    }
  }

  &__text {
    margin-bottom: 42px;
    color: var(--color-brand-dark);
  }

  &__map {
    width: 100%; // На мобілці займає всю ширину контейнера
    height: 440px; // Фіксована висота, щоб вона не була "половинчастою"
    border-radius: 16px;
    flex-shrink: 0;

    @media screen and (min-width: 1200px) {
      width: 600px; // Повертаємо ширину на великих екранах
      height: auto; // На десктопі підлаштується під висоту форми
      min-height: 600px; // Робимо її солідною за розміром
    }
  }

  &__form-field {
    margin-bottom: 32px;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__button {
    display: block;
    margin: 0 auto 16px;
  }
}
