.formats-section {
  &__title {
    position: relative;
    margin: 0 auto 80px;
  }

  &__container {
    display: flex;
    gap: 32px;
    align-items: center;
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-grow: 1;
  }
  &__item {
    flex-basis: calc((100% - 40px) / 3);
  }
}
