.form-field {
  margin-bottom: 32px;
  position: relative;
}

.form-label {
  /* display: block; */
  position: absolute;
  top: 16px;
  left: 42px;
  font-size: 16px;
  line-height: 1.17;
  color: var(--color-secondary-dark);
  transition: transform 0.3s;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  transform: translate(-36px, -40px);
}

.form-input {
  padding: 16px 42px;
  width: 100%;
  font-size: 16px;
  line-height: 1.17;
  border: 1px solid var(--color-secondary-dark);
  border-radius: 8px;
  background-color: transparent;
}

.form-input:focus {
  border-color: var(--color-brand-light);
  outline: none;
}

.form-input::placeholder {
  color: var(--color-secondary-dark);
  font-size: 16px;
  line-height: 1.17;
}

.form-input:focus::placeholder {
  color: var(--color-primary-dark);
}

.form-button {
  display: block;
  margin: 0 auto 24px;
}

.form-terms {
  margin: 0 auto;
  max-width: 220px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
}

.form-terms-link {
  color: var(--color-primary-dark);
  text-underline-offset: 2px;
}

.modal-title {
  font-size: 64px;
  text-align: center;
  margin-bottom: 8px;
}

.modal-text {
  font-style: 18px;
  font-weight: 400;
  color: var(--color-brand-dark);
  margin-bottom: 72px;
  text-align: center;
}
