.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 880px;
  height: 100%;
  max-height: 880px;
  padding: 128px;
  background-color: var(--color-primary-light);
  border-radius: 32px;
  overflow-y: auto;
}

.modal::after {
  bottom: 0;
  position: absolute;
  content: '';
  width: 180px;
  height: 240px;
  right: 0;
  background-image: url(/images/decor-bread-modal.png);
}

.backdrop.is-hidden {
  /* display: none; */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-btn-close {
  position: absolute;
  top: 40px;
  left: 810px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
}

.modal-arrow {
  fill: var(--color-primary-dark);
}
