.traditions-section {
  padding-top: 96px;

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }

  &__content {
    min-width: 710px;
  }

  &__title {
    margin-bottom: 42px;
    line-height: 84px;
    font-weight: 900;
  }

  &__text {
    padding-top: 42px;
  }

  &__text {
    &--limited {
      max-width: 340px;
    }
  }

  &__photo {
    border-radius: 400px 400px 4px 4px;
  }
}
