.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  pad: 0px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--color-primary-dark);
  cursor: pointer;
}

.carousel-button:last-child {
  transform: rotate(180deg);
}

.carousel-button:hover {
  background-color: var(--color-primary-dark);
}

.carousel-button:hover .carousel-arrow {
  fill: var(--color-primary-light);
}

.carousel-arrow {
  fill: var(--color-primary-dark);
}
