.chef-card {
  display: flex;
  flex-direction: column; // На мобільних фото буде НАД текстом
  align-items: flex-start; // Запобігає розтягуванню фото
  gap: 30px;

  &__photo {
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0 0 var(--color-primary-light),
      -16px 16px 0 2px var(--color-secondary-dark);
  }

  &__title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 16px;
  }

  &__text p {
    margin-bottom: 24px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
