.input {
  position: relative;

  &__label {
    position: absolute;
    top: 16px;
    left: 42px;
    font-size: 16px;
    line-height: 1.17;
    color: var(--color-secondary-dark);
    transition: transform 0.3s;
    pointer-events: none; /* Щоб клік проходив крізь текст лейбла в інпут */
  }

  &__control {
    padding: 16px 42px;
    width: 100%;
    font-size: 16px;
    line-height: 1.17;
    border: 1px solid var(--color-secondary-dark);
    border-radius: 8px;
    background-color: transparent;
    outline: none;

    &:focus {
      border-color: var(--color-brand-light);
    }

    /* Логіка підняття лейбла при фокусі або наявності тексту */
    &:focus + .input__label,
    &:not(:placeholder-shown) + .input__label {
      transform: translate(-36px, -40px) scale(0.8);
    }
  }
}
